.skeleton {
  display: inline-block;
  width: 30px; /* Adjust width to match the text width, here it's set for "(12)" */
  height: 1em; /* Matches the height of the text line */
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 4px;
  margin-top: 6px;
}

.skeleton::before {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e0e0e0 50%,
    #f0f0f0 75%
  );
  background-size: 200% 100%;
  position: absolute;
  top: 0;
  left: -100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
